Repository TiPunchLabs/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, check-ansible-vault

ansible-lint:
  name: Ansible Lint
  entry: uv run ansible-lint
  language: system
  pass_filenames: false

check-ansible-vault:
  name: Check Ansible Vault Encryption
  entry: bash scripts/check_ansible_vault.sh
  language: system
  stages:
  - pre-commit

fix(portainer): ecouter sur toutes les interfaces pour acces Caddy
  dockhost/ansible/roles/portainer/defaults/main.yml
Due: ansible-lint

fix(pihole): migrer DNS records vers pihole-FTL --config dns.hosts
  pihole/ansible/roles/pihole/tasks/main.yml
Due: ansible-lint

infra(caddy): ajouter backend pihole.internal
  caddy/ansible/group_vars/caddy/all/main.yml
Due: ansible-lint

infra(pihole): ajouter enregistrement DNS pihole.internal
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint

fix(pihole): corriger format commande pihole-FTL --config dns.hosts
  pihole/ansible/roles/pihole/tasks/main.yml
Due: ansible-lint

fix(portainer): supprimer healthcheck incompatible avec image minimale
  dockhost/ansible/roles/portainer/templates/docker-compose.yml.j2
Due: none

docs(portainer): ajouter spec et plan d'implementation
  docs/superpowers/plans/2026-04-03-portainer-server.md
  docs/superpowers/specs/2026-04-03-portainer-server-design.md
Due: none

fix(ci): extraire images Docker depuis defaults au lieu des templates Jinja
  .gitlab-ci.yml
Due: ansible-lint

fix(ci): corriger scan-docker-images pour eviter exit code 1
  .gitlab-ci.yml
Due: ansible-lint

infra(open-webui): ajouter defaults et handler du role open_webui
  dockhost/ansible/roles/open_webui/defaults/main.yml
  dockhost/ansible/roles/open_webui/handlers/main.yml
Due: ansible-lint

infra(open-webui): ajouter template docker-compose Open WebUI
  dockhost/ansible/roles/open_webui/templates/docker-compose.yml.j2
Due: none

infra(open-webui): ajouter tasks deploiement et setup PostgreSQL
  dockhost/ansible/roles/open_webui/tasks/main.yml
Due: ansible-lint

infra(open-webui): mettre a jour deploy.yml et group_vars pour role open_webui
  dockhost/ansible/deploy.yml
  dockhost/ansible/group_vars/dockhost/all/main.yml
Due: ansible-lint

infra(caddy): ajouter backend openwebui.internal
  caddy/ansible/group_vars/caddy/all/main.yml
Due: ansible-lint

infra(pihole): ajouter enregistrement DNS openwebui.internal
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint

docs(open-webui): ajouter spec et plan d'implementation
  docs/superpowers/plans/2026-04-03-open-webui.md
  docs/superpowers/specs/2026-04-03-open-webui-design.md
Due: none

infra(open-webui): ajouter credentials dans le vault
  dockhost/ansible/group_vars/dockhost/vault/config.yml
Due: ansible-lint, check-ansible-vault

fix(open-webui): augmenter timeout healthcheck (premier demarrage lent)
  dockhost/ansible/roles/open_webui/tasks/main.yml
Due: ansible-lint

fix(pihole): utiliser argv pour passer le JSON dns.hosts en un seul argument
  pihole/ansible/roles/pihole/tasks/main.yml
Due: ansible-lint

fix(open-webui): corriger mot de passe PostgreSQL (caracteres speciaux)
  dockhost/ansible/group_vars/dockhost/vault/config.yml
Due: ansible-lint, check-ansible-vault

refactor(open-webui): simplifier apres revue qualite
  dockhost/ansible/group_vars/dockhost/all/main.yml
  dockhost/ansible/roles/open_webui/defaults/main.yml
  dockhost/ansible/roles/open_webui/handlers/main.yml
  dockhost/ansible/roles/open_webui/tasks/main.yml
  dockhost/ansible/roles/open_webui/templates/docker-compose.yml.j2
  pihole/ansible/roles/pihole/tasks/main.yml
Due: ansible-lint

infra(excalidraw): ajouter role Excalidraw sur dockhost-90
  caddy/ansible/group_vars/caddy/all/main.yml
  dockhost/ansible/deploy.yml
  dockhost/ansible/group_vars/dockhost/all/main.yml
  dockhost/ansible/roles/excalidraw/defaults/main.yml
  dockhost/ansible/roles/excalidraw/handlers/main.yml
  dockhost/ansible/roles/excalidraw/tasks/main.yml
  dockhost/ansible/roles/excalidraw/templates/docker-compose.yml.j2
  pihole/ansible/group_vars/pihole/all/main.yml
  pihole/ansible/roles/pihole/tasks/main.yml
Due: ansible-lint

docs(network): ajouter spec migration vers 192.168.10.0/24
  docs/superpowers/specs/2026-04-28-network-migration-192-168-10-design.md
Due: none

docs(network): ajouter plan execution migration 192.168.10.0/24
  docs/superpowers/plans/2026-04-28-network-migration-192-168-10.md
Due: none

chore(network): migrer infrastructure vers 192.168.10.0/24
  caddy/ansible/group_vars/caddy/all/main.yml
  dockhost/ansible/group_vars/dockhost/all/main.yml
  dockhost/ansible/inventory.yml
  docs/references/ip-addresses.md
  modules/proxmox_lxc_template/variables.tf
  modules/proxmox_vm_template/variables.tf
  pihole/ansible/group_vars/pihole/all/main.yml
  proxmox/ansible/inventory.yml
  vpngate/ansible/roles/wireguard/defaults/main.yml
Due: ansible-lint

docs(guides): ajouter guide reconfig VM via qemu-agent
  docs/guides/guide-vm-reconfig-via-qemu-agent.md
  docs/superpowers/plans/2026-04-28-network-migration-192-168-10.md
Due: none

infra(komodo): ajouter role Komodo Core sur dockhost-90
  README.md
  caddy/ansible/group_vars/caddy/all/main.yml
  dockhost/ansible/deploy.yml
  dockhost/ansible/group_vars/dockhost/all/main.yml
  dockhost/ansible/group_vars/dockhost/vault/config.yml
  dockhost/ansible/roles/komodo/README.md
  dockhost/ansible/roles/komodo/defaults/main.yml
  dockhost/ansible/roles/komodo/handlers/main.yml
  dockhost/ansible/roles/komodo/tasks/main.yml
  dockhost/ansible/roles/komodo/templates/compose.env.j2
  dockhost/ansible/roles/komodo/templates/compose.yml.j2
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint, check-ansible-vault

docs(network): mettre a jour IPs 192.168.10.x dans README et guides
  README.md
  docs/04-troubleshooting.md
  docs/05-dockhost-structure.md
  docs/guides/guide-wireguard-client-linux.md
Due: none

feat(miniboard): déploiement sur dockhost-90
  caddy/ansible/group_vars/caddy/all/main.yml
  dockhost/ansible/deploy.yml
  dockhost/ansible/group_vars/dockhost/all/main.yml
  dockhost/ansible/group_vars/dockhost/vault/miniboard.yml
  dockhost/ansible/roles/miniboard/defaults/main.yml
  dockhost/ansible/roles/miniboard/handlers/main.yml
  dockhost/ansible/roles/miniboard/tasks/main.yml
  dockhost/ansible/roles/miniboard/templates/docker-compose.yml.j2
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint, check-ansible-vault

docs(vpngate): documenter le double NAT et l'acces externe WireGuard
  docs/references/ip-addresses.md
  vpngate/README.md
Due: none

fix(open-webui): joindre Ollama via ollama.internal au lieu d'une IP en dur
  dockhost/ansible/group_vars/dockhost/all/main.yml
  dockhost/ansible/roles/open_webui/defaults/main.yml
  dockhost/ansible/roles/open_webui/templates/docker-compose.yml.j2
  docs/references/ip-addresses.md
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint

docs(dockhost): actualiser le README avec les services reellement deployes
  dockhost/README.md
Due: none

chore(open-webui): mettre a jour l'image vers v0.9.6
  dockhost/ansible/roles/open_webui/defaults/main.yml
Due: ansible-lint

feat(dns,proxy): route portail-client.internal via Caddy + Pi-hole
  caddy/ansible/group_vars/caddy/all/main.yml
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint

feat(portail-client): ajouter le role Ansible de preparation hote
  dockhost/ansible/deploy.yml
  dockhost/ansible/roles/portail_client/defaults/main.yml
  dockhost/ansible/roles/portail_client/tasks/main.yml
Due: ansible-lint

docs(caddy): ajouter le runbook HTTPS interne
  caddy/docs/runbook-https-internal.md
Due: none

docs(kandidat): ajouter plan et spec de migration GitOps
  docs/superpowers/plans/2026-06-16-kandidat-gitops-migration.md
  docs/superpowers/specs/2026-06-16-kandidat-gitops-migration-design.md
Due: none

refactor(kandidat): align Ansible role with Komodo GitOps deploy
  dockhost/ansible/roles/kandidat/defaults/main.yml
  dockhost/ansible/roles/kandidat/handlers/main.yml
  dockhost/ansible/roles/kandidat/tasks/main.yml
  dockhost/ansible/roles/kandidat/templates/docker-compose.yml.j2
Due: ansible-lint

feat(ovh-dns): provisionner le DNS public DynHost pour portail-client
  .envrc.example
  ovh-dns-terraform/main.tf
  ovh-dns-terraform/outputs.tf
  ovh-dns-terraform/providers.tf
  ovh-dns-terraform/variables.tf
Due: none

feat(caddy): exposer portail-client en public (vhost ACME DNS-01 OVH)
  caddy/ansible/group_vars/caddy/all/main.yml
  caddy/ansible/group_vars/caddy/vault/config.yml
  caddy/ansible/roles/caddy/handlers/main.yml
  caddy/ansible/roles/caddy/tasks/main.yml
  caddy/ansible/roles/caddy/templates/Caddyfile.j2
  caddy/ansible/roles/caddy/templates/caddy-ovh-env.conf.j2
  caddy/ansible/roles/caddy/templates/ovh.env.j2
Due: ansible-lint, check-ansible-vault

Path conditions:
  ansible-lint: any of: \.(yml|yaml)$
  check-ansible-vault: any of: (^|/)vault/.*$
