Repository TiPunchLabs/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, check-ansible-vault

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        args: ["-x", "-S", "warning"]
  - repo: local
    hooks:
      - id: ansible-lint
        name: Ansible Lint
        entry: uv run ansible-lint
        language: system
        files: \.(yml|yaml)$
        pass_filenames: false
  - repo: local
    hooks:
      - id: check-ansible-vault
        name: Check Ansible Vault Encryption
        entry: bash scripts/check_ansible_vault.sh
        language: system
        files: (^|/)vault/.*$
        stages: [pre-commit]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.99.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint

feat(caddy): restreindre /api/admin* du portail aux réseaux privés
  caddy/ansible/group_vars/caddy/all/main.yml
  caddy/ansible/roles/caddy/templates/Caddyfile.j2
Due: ansible-lint

chore(caddy): activer les callbacks profile_tasks et timer
  caddy/ansible.cfg
Due: none

docs(caddy): documenter le flag restrict_admin_lan (ADR-005)
  caddy/README.md
  docs/adr/caddy.md
Due: none

fix(proxmox): corriger le storage HDD en ext4 et monter par UUID
  proxmox/ansible/STORAGE_SETUP.md
  proxmox/ansible/roles/configure/tasks/setup_storage.yml
  proxmox/ansible/roles/configure/vars/main/storage.yml
Due: ansible-lint

feat(terraform): ajouter les options avancees au module proxmox_vm_template
  modules/proxmox_vm_template/main.tf
  modules/proxmox_vm_template/variables.tf
Due: none

feat(hermes): provisionner la VM hermes-30 pour l'agent Hermes AI
  .gitlab-ci.yml
  CLAUDE.md
  README.md
  docs/references/ip-addresses.md
  hermes/ansible.cfg
  hermes/ansible/deploy.yml
  hermes/ansible/group_vars/hermes/all/main.yml
  hermes/ansible/inventory.yml
  hermes/ansible/roles/motd/defaults/main.yml
  hermes/ansible/roles/motd/tasks/main.yml
  hermes/ansible/roles/motd/templates/motd.j2
  hermes/ansible/roles/security_hardening/handlers/main.yml
  hermes/ansible/roles/security_hardening/tasks/main.yml
  hermes/ansible/roles/security_hardening/tasks/ssh.yml
  hermes/ansible/roles/security_hardening/tasks/ufw.yml
  hermes/terraform/main.tf
  hermes/terraform/outputs.tf
  hermes/terraform/providers.tf
  hermes/terraform/variables.tf
Due: ansible-lint

feat(hermes): resoudre la zone .internal via Pi-hole sur hermes-30
  hermes/terraform/main.tf
Due: none

feat(hermes): installer Docker et le plugin compose sur hermes-30
  hermes/ansible/deploy.yml
  hermes/ansible/group_vars/hermes/all/main.yml
  hermes/ansible/requirements.yml
  hermes/ansible/roles/docker/handlers/main.yml
  hermes/ansible/roles/docker/tasks/configure_daemon.yml
  hermes/ansible/roles/docker/tasks/install_docker_docker_compose_plugin.yml
  hermes/ansible/roles/docker/tasks/main.yml
  hermes/ansible/roles/docker/templates/daemon.json.j2
  hermes/ansible/roles/docker/vars/main.yml
Due: ansible-lint

feat(hermes): deployer la stack Hermes Agent sur hermes-30
  caddy/ansible/group_vars/caddy/all/main.yml
  docs/references/ip-addresses.md
  hermes/ansible/deploy.yml
  hermes/ansible/group_vars/hermes/all/main.yml
  hermes/ansible/group_vars/hermes/vault/config.yml
  hermes/ansible/roles/hermes_agent/defaults/main.yml
  hermes/ansible/roles/hermes_agent/handlers/main.yml
  hermes/ansible/roles/hermes_agent/tasks/main.yml
  hermes/ansible/roles/hermes_agent/templates/config.yaml.j2
  hermes/ansible/roles/hermes_agent/templates/docker-compose.yml.j2
  hermes/ansible/roles/hermes_agent/templates/hermes.env.j2
  hermes/ansible/roles/security_hardening/tasks/ufw.yml
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint, check-ansible-vault

chore(ansible): activer profile_tasks et timer sur tous les sous-projets
  bastion/ansible.cfg
  dockhost/ansible.cfg
  hermes/ansible.cfg
  kubecluster/ansible.cfg
  pihole/ansible.cfg
  proxmox/ansible.cfg
  vpngate/ansible.cfg
Due: none

docs(hermes): documenter le sous-projet et corriger le README racine
  README.md
  hermes/README.md
Due: none

fix(ci): reparer sync-bastion en passant le depot du bastion en SSH
  .gitlab-ci.yml
  bastion/ansible/deploy.yml
  bastion/ansible/group_vars/bastion/all/main.yml
  bastion/ansible/roles/ssh_keys/tasks/main.yml
Due: ansible-lint

fix(ci): rendre operationnels les controles inertes de security-check
  .gitlab-ci.yml
Due: ansible-lint

refactor(hermes): tracer la frontiere Ansible/agent par cle et non par fichier
  hermes/README.md
  hermes/ansible/roles/hermes_agent/defaults/main.yml
  hermes/ansible/roles/hermes_agent/tasks/main.yml
  hermes/ansible/roles/hermes_agent/templates/config.yaml.j2
  hermes/ansible/roles/hermes_agent/templates/docker-compose.yml.j2
  hermes/ansible/roles/hermes_agent/templates/hermes.env.j2
Due: ansible-lint

chore(hermes): supprimer le .env du volume, supplante par la couche managed
  hermes/README.md
  hermes/ansible/roles/hermes_agent/tasks/main.yml
Due: ansible-lint

feat(caddy): serve kandidat.internal over HTTPS via internal CA
  caddy/README.md
  caddy/ansible/group_vars/caddy/all/main.yml
  caddy/docs/runbook-https-internal.md
Due: ansible-lint

feat(hermes): rattacher hermes-30 a Komodo en observateur
  CLAUDE.md
  hermes/README.md
  hermes/ansible/deploy.yml
  hermes/ansible/group_vars/hermes/all/main.yml
  hermes/ansible/group_vars/hermes/vault/config.yml
  hermes/ansible/roles/komodo_periphery/README.md
  hermes/ansible/roles/komodo_periphery/defaults/main.yml
  hermes/ansible/roles/komodo_periphery/handlers/main.yml
  hermes/ansible/roles/komodo_periphery/tasks/main.yml
  hermes/ansible/roles/komodo_periphery/templates/docker-compose.yml.j2
  hermes/ansible/roles/komodo_periphery/templates/periphery.env.j2
Due: ansible-lint, check-ansible-vault

fix(komodo): epingler Core et Periphery sur une version explicite
  dockhost/ansible/roles/komodo/defaults/main.yml
Due: ansible-lint

fix(images): epingler wg-easy et mongo sur les images en place
  dockhost/ansible/roles/komodo/defaults/main.yml
  dockhost/ansible/roles/komodo/templates/compose.yml.j2
  vpngate/ansible/roles/wireguard/defaults/main.yml
  vpngate/ansible/roles/wireguard/templates/docker-compose.yml.j2
Due: ansible-lint

chore(ci): rendre Renovate operant sur les images des roles Ansible
  dockhost/ansible/roles/excalidraw/defaults/main.yml
  dockhost/ansible/roles/open_webui/defaults/main.yml
  dockhost/ansible/roles/portainer/defaults/main.yml
  dockhost/ansible/roles/postgresql/defaults/main.yml
  hermes/ansible/roles/hermes_agent/defaults/main.yml
  hermes/ansible/roles/komodo_periphery/defaults/main.yml
  renovate.json
Due: ansible-lint

fix(hermes): resoudre .internal par un dnsmasq en split-horizon
  hermes/ansible/deploy.yml
  hermes/ansible/roles/dns_resolver/README.md
  hermes/ansible/roles/dns_resolver/defaults/main.yml
  hermes/ansible/roles/dns_resolver/handlers/main.yml
  hermes/ansible/roles/dns_resolver/tasks/main.yml
  hermes/ansible/roles/dns_resolver/templates/99-dns-local.yaml.j2
  hermes/ansible/roles/dns_resolver/templates/homelab.conf.j2
  hermes/terraform/main.tf
Due: ansible-lint

feat(hermes): faire confiance a la CA interne de Caddy, hote et conteneurs
  CLAUDE.md
  hermes/README.md
  hermes/ansible/deploy.yml
  hermes/ansible/roles/hermes_agent/defaults/main.yml
  hermes/ansible/roles/hermes_agent/tasks/main.yml
  hermes/ansible/roles/hermes_agent/templates/docker-compose.yml.j2
  hermes/ansible/roles/internal_ca_trust/README.md
  hermes/ansible/roles/internal_ca_trust/defaults/main.yml
  hermes/ansible/roles/internal_ca_trust/files/caddy-root.crt
  hermes/ansible/roles/internal_ca_trust/tasks/main.yml
Due: ansible-lint

feat(caddy,pihole): exposer le serveur MCP de kandidat en TLS interne
  caddy/ansible/group_vars/caddy/all/main.yml
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint

fix(hermes): restaurer Telegram et retirer la tache qui l'avait detruit
  hermes/ansible/group_vars/hermes/all/main.yml
  hermes/ansible/group_vars/hermes/vault/config.yml
  hermes/ansible/roles/hermes_agent/defaults/main.yml
  hermes/ansible/roles/hermes_agent/tasks/main.yml
  hermes/ansible/roles/hermes_agent/templates/hermes.env.j2
Due: ansible-lint, check-ansible-vault

docs(caddy): add ADR-006, HTTPS interne opt-in par backend
  docs/adr/caddy.md
Due: none

docs(archi): mettre a jour le schema du homelab
  homelab.jpg
Due: none

ci(renovate): etendre le job a homelab-gitops
  .gitlab-ci.yml
  renovate.json
Due: ansible-lint

fix(renovate): retirer le preset obsolete :gitlabAutoMerge
  renovate.json
Due: none

fix(renovate): bloquer les majeures de postgres et wg-easy
  renovate.json
Due: none
