Repository TiPunchLabs/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, check-ansible-vault

ansible-lint:
  name: Ansible Lint
  entry: uv run ansible-lint
  language: system
  pass_filenames: false

check-ansible-vault:
  name: Check Ansible Vault Encryption
  entry: bash scripts/check_ansible_vault.sh
  language: system
  stages:
  - pre-commit

chore: supprimer github-terraform/ (miroir read-only, plus gere par TF)
  README.md
  github-terraform/data_sources.tf
  github-terraform/main.tf
  github-terraform/outputs.tf
  github-terraform/providers.tf
  github-terraform/terraform.tfvars.example
  github-terraform/variables.tf
Due: none

infra(dockhost): ajouter le role kandidat pour le deploiement automatise
  dockhost/ansible/deploy.yml
  dockhost/ansible/group_vars/dockhost/all/main.yml
  dockhost/ansible/roles/kandidat/defaults/main.yml
  dockhost/ansible/roles/kandidat/handlers/main.yml
  dockhost/ansible/roles/kandidat/tasks/main.yml
  dockhost/ansible/roles/kandidat/templates/docker-compose.yml.j2
Due: ansible-lint

fix(security): ajouter les patterns de cles SSH au gitignore
  .gitignore
Due: none

chore: ajouter le hook pre-commit gitlab-ci-lint via glab
  .pre-commit-config.yaml
Due: ansible-lint

infra(dockhost): configurer kandidat (BDD, secrets, reseau) et supprimer gitlab_runner
  dockhost/ansible/deploy.yml
  dockhost/ansible/group_vars/dockhost/vault/config.yml
  dockhost/ansible/roles/gitlab_runner/defaults/main.yml
  dockhost/ansible/roles/gitlab_runner/handlers/main.yml
  dockhost/ansible/roles/gitlab_runner/tasks/main.yml
  dockhost/ansible/roles/gitlab_runner/templates/config.toml.j2
  dockhost/ansible/roles/gitlab_runner/templates/docker-compose.yml.j2
  dockhost/ansible/roles/kandidat/defaults/main.yml
  dockhost/ansible/roles/kandidat/tasks/main.yml
  dockhost/ansible/roles/kandidat/templates/docker-compose.yml.j2
  dockhost/ansible/roles/postgresql/templates/docker-compose.yml.j2
Due: ansible-lint, check-ansible-vault

fix(dockhost): ajouter les tags postgresql/kandidat a la pre_task db-net
  dockhost/ansible/deploy.yml
Due: ansible-lint

fix(dockhost): corriger le driver DATABASE_URL pour kandidat (psycopg)
  dockhost/ansible/group_vars/dockhost/vault/config.yml
Due: ansible-lint, check-ansible-vault

docs: ajouter le sketchnote de l'architecture homelab au README
  README.md
  homelab-sketchnote.jpg
Due: none

infra(vpngate): ajouter le sous-projet VPN Gateway (WireGuard + wg-easy)
  .gitlab-ci.yml
  README.md
  docs/references/ip-addresses.md
  vpngate/ansible.cfg
  vpngate/ansible/deploy.yml
  vpngate/ansible/group_vars/vpngate/all/main.yml
  vpngate/ansible/group_vars/vpngate/vault/config.yml
  vpngate/ansible/inventory.yml
  vpngate/ansible/roles/docker/handlers/main.yml
  vpngate/ansible/roles/docker/tasks/install_docker_docker_compose_plugin.yml
  vpngate/ansible/roles/docker/tasks/main.yml
  vpngate/ansible/roles/docker/vars/main.yml
  vpngate/ansible/roles/motd/defaults/main.yml
  vpngate/ansible/roles/motd/tasks/main.yml
  vpngate/ansible/roles/motd/templates/motd.j2
  vpngate/ansible/roles/security_hardening/handlers/main.yml
  vpngate/ansible/roles/security_hardening/tasks/main.yml
  vpngate/ansible/roles/security_hardening/tasks/ssh.yml
  vpngate/ansible/roles/security_hardening/tasks/ufw.yml
  vpngate/ansible/roles/wireguard/defaults/main.yml
  vpngate/ansible/roles/wireguard/handlers/main.yml
  vpngate/ansible/roles/wireguard/tasks/main.yml
  vpngate/ansible/roles/wireguard/templates/docker-compose.yml.j2
  vpngate/docs/understanding-wireguard-role.md
  vpngate/terraform/main.tf
  vpngate/terraform/outputs.tf
  vpngate/terraform/providers.tf
  vpngate/terraform/variables.tf
Due: ansible-lint, check-ansible-vault

chore(ci): activer les logs debug Renovate temporairement
  .gitlab-ci.yml
Due: ansible-lint

fix(ci): ajouter retry sur terraform-lint et debug Renovate
  .gitlab-ci.yml
Due: ansible-lint

fix(ci): permettre le declenchement manuel de Renovate sans variable
  .gitlab-ci.yml
Due: ansible-lint

fix(ci): corriger le job Renovate (doublon + variable invalide)
  .gitlab-ci.yml
Due: ansible-lint

fix(ci): supprimer l'auto-reference RENOVATE_TOKEN dans les variables du job
  .gitlab-ci.yml
Due: ansible-lint

fix(ci): nettoyer le job Renovate (supprimer debug, passer en info)
  .gitlab-ci.yml
Due: ansible-lint

docs: add LXC container provisioning design spec
  docs/superpowers/specs/2026-03-22-proxmox-lxc-provisioning-design.md
Due: none

docs: fix spec issues from review (IP ranges, missing vars, security)
  docs/superpowers/specs/2026-03-22-proxmox-lxc-provisioning-design.md
Due: none

infra(lxc): ajouter module LXC et sous-projet caddy
  CLAUDE.md
  caddy/ansible.cfg
  caddy/ansible/deploy.yml
  caddy/ansible/group_vars/caddy/all/main.yml
  caddy/ansible/inventory.yml
  caddy/ansible/roles/caddy/defaults/main.yml
  caddy/ansible/roles/caddy/handlers/main.yml
  caddy/ansible/roles/caddy/tasks/main.yml
  caddy/ansible/roles/caddy/templates/Caddyfile.j2
  caddy/ansible/roles/motd/defaults/main.yml
  caddy/ansible/roles/motd/tasks/main.yml
  caddy/ansible/roles/motd/templates/motd.j2
  caddy/ansible/roles/security_hardening/handlers/main.yml
  caddy/ansible/roles/security_hardening/tasks/main.yml
  caddy/ansible/roles/security_hardening/tasks/ssh.yml
  caddy/ansible/roles/security_hardening/tasks/ufw.yml
  caddy/terraform/main.tf
  caddy/terraform/outputs.tf
  caddy/terraform/providers.tf
  caddy/terraform/variables.tf
  modules/proxmox_lxc_template/main.tf
  modules/proxmox_lxc_template/outputs.tf
  modules/proxmox_lxc_template/variables.tf
Due: ansible-lint

config(bastion): ajouter caddy-70 dans ssh_config du bastion
  bastion/ansible/roles/ssh_keys/templates/ssh_config.j2
Due: none

docs: ajouter caddy-70 et range LXC dans le plan d'adressage IP
  docs/references/ip-addresses.md
Due: none

config(proxmox): ajouter Datastore.AllocateTemplate au role TerraformProv
  proxmox/ansible/roles/configure/files/token_setup.json
Due: none

config(caddy): configurer le reverse proxy avec 3 backends .internal
  caddy/ansible/group_vars/caddy/all/main.yml
  caddy/ansible/roles/caddy/templates/Caddyfile.j2
  docs/adr/caddy.md
Due: ansible-lint

fix(lxc): ajouter hostname explicite dans le module LXC
  modules/proxmox_lxc_template/main.tf
Due: none

fix(caddy): activer TLS interne pour le reverse proxy Proxmox
  caddy/ansible/group_vars/caddy/all/main.yml
  caddy/ansible/inventory.yml
  caddy/ansible/roles/caddy/templates/Caddyfile.j2
Due: ansible-lint

docs: ajouter spec design Pi-hole DNS sur LXC dns-71
  docs/superpowers/specs/2026-03-30-pihole-dns-design.md
Due: none

infra(lxc): ajouter sous-projet pihole (Pi-hole DNS sur dns-71)
  bastion/ansible/roles/ssh_keys/templates/ssh_config.j2
  docs/adr/pihole.md
  docs/references/ip-addresses.md
  pihole/ansible.cfg
  pihole/ansible/deploy.yml
  pihole/ansible/group_vars/pihole/all/main.yml
  pihole/ansible/group_vars/pihole/vault/pihole.yml
  pihole/ansible/inventory.yml
  pihole/ansible/roles/motd/defaults/main.yml
  pihole/ansible/roles/motd/tasks/main.yml
  pihole/ansible/roles/motd/templates/motd.j2
  pihole/ansible/roles/pihole/defaults/main.yml
  pihole/ansible/roles/pihole/handlers/main.yml
  pihole/ansible/roles/pihole/tasks/main.yml
  pihole/ansible/roles/pihole/templates/custom.list.j2
  pihole/ansible/roles/pihole/templates/setupVars.conf.j2
  pihole/ansible/roles/security_hardening/handlers/main.yml
  pihole/ansible/roles/security_hardening/tasks/main.yml
  pihole/ansible/roles/security_hardening/tasks/ssh.yml
  pihole/ansible/roles/security_hardening/tasks/ufw.yml
  pihole/terraform/main.tf
  pihole/terraform/outputs.tf
  pihole/terraform/providers.tf
  pihole/terraform/variables.tf
  vpngate/ansible/roles/wireguard/defaults/main.yml
Due: ansible-lint, check-ansible-vault

infra(pihole): migrer DNS custom.list vers CLI Pi-hole v6 et corrections post-deploiement
  CLAUDE.md
  caddy/ansible/inventory.yml
  docs/adr/pihole.md
  docs/guides/guide-wireguard-client-linux.md
  pihole/ansible/group_vars/pihole/vault/pihole.yml
  pihole/ansible/roles/pihole/defaults/main.yml
  pihole/ansible/roles/pihole/tasks/main.yml
  pihole/ansible/roles/pihole/templates/custom.list.j2
  pihole/ansible/roles/pihole/templates/setupVars.conf.j2
  pihole/terraform/main.tf
Due: ansible-lint, check-ansible-vault

docs: ajouter READMEs manquants et mettre a jour la documentation projet
  .gitlab-ci.yml
  README.md
  bastion/README.md
  caddy/README.md
  docs/README.md
  pihole/README.md
  vpngate/README.md
Due: ansible-lint

docs: remplacer sketchnote par nouvelle image architecture homelab
  README.md
  homelab-sketchnote.jpg
  homelab.jpg
Due: none

docs: supprimer diagramme ASCII redondant avec l'image architecture
  README.md
Due: none

infra(portainer): ajouter defaults et handler du role portainer
  dockhost/ansible/roles/portainer/defaults/main.yml
  dockhost/ansible/roles/portainer/handlers/main.yml
Due: ansible-lint

infra(portainer): ajouter template docker-compose Portainer CE
  dockhost/ansible/roles/portainer/templates/docker-compose.yml.j2
Due: none

infra(portainer): ajouter tasks deploiement et bootstrap API
  dockhost/ansible/roles/portainer/tasks/main.yml
Due: ansible-lint

infra(portainer): corriger qualite code (no_log, permissions, healthcheck)
  dockhost/ansible/roles/portainer/tasks/main.yml
  dockhost/ansible/roles/portainer/templates/docker-compose.yml.j2
Due: ansible-lint

infra(portainer): mettre a jour deploy.yml et group_vars pour role portainer
  dockhost/ansible/deploy.yml
  dockhost/ansible/group_vars/dockhost/all/main.yml
Due: ansible-lint

infra(portainer): supprimer ancien role portainer_agent
  dockhost/ansible/roles/portainer_agent/handlers/main.yml
  dockhost/ansible/roles/portainer_agent/tasks/main.yml
  dockhost/ansible/roles/portainer_agent/templates/docker-compose.yml.j2
Due: ansible-lint

infra(caddy): ajouter backend portainer.internal
  caddy/ansible/group_vars/caddy/all/main.yml
Due: ansible-lint

infra(pihole): ajouter enregistrement DNS portainer.internal
  pihole/ansible/group_vars/pihole/all/main.yml
Due: ansible-lint

infra(portainer): ajouter credentials admin dans le vault
  dockhost/ansible/group_vars/dockhost/vault/config.yml
Due: ansible-lint, check-ansible-vault

refactor(portainer): simplifier role apres revue qualite
  dockhost/ansible/roles/portainer/defaults/main.yml
  dockhost/ansible/roles/portainer/tasks/main.yml
  dockhost/ansible/roles/portainer/templates/docker-compose.yml.j2
Due: ansible-lint

Path conditions:
  ansible-lint: any of: \.(yml|yaml)$
  check-ansible-vault: any of: (^|/)vault/.*$
