Repository TiPunchLabs/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, check-ansible-vault

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        args: ["-x", "-S", "warning"]
  - repo: local
    hooks:
      - id: ansible-lint
        name: Ansible Lint
        entry: uv run ansible-lint
        language: system
        files: \.(yml|yaml)$
        pass_filenames: false
  - repo: local
    hooks:
      - id: check-ansible-vault
        name: Check Ansible Vault Encryption
        entry: bash scripts/check_ansible_vault.sh
        language: system
        files: (^|/)vault/.*$
        stages: [pre-commit]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.99.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint

chore(deps): bump bpg/proxmox provider de 0.93.0 a 0.96.0
  dockhost/terraform/providers.tf
  kubecluster/terraform/providers.tf
  modules/proxmox_vm_template/main.tf
Due: none

fix(terraform): assouplir la contrainte de version du provider dans le module partage
  modules/proxmox_vm_template/main.tf
Due: none

refactor(proxmox): supprimer le repertoire terraform obsolete
  proxmox/terraform/main.tf
  proxmox/terraform/outputs.tf
  proxmox/terraform/providers.tf
  proxmox/terraform/terraform.tfvars.example
  proxmox/terraform/variables.tf
Due: none

chore(ci): retirer les references a proxmox/terraform
  .github/dependabot.yml
  .github/workflows/ci.yml
  proxmox/README.md
Due: ansible-lint

fix(dockhost): resoudre conflit IP et migrer config SSH vers cloud-init
  dockhost/ansible/deploy.yml
  dockhost/ansible/inventory.yml
  dockhost/terraform/main.tf
  dockhost/terraform/variables.tf
  kubecluster/terraform/main.tf
  modules/proxmox_vm_template/main.tf
  modules/proxmox_vm_template/variables.tf
  proxmox/ansible/host_vars/pve/vault/main.yml
  proxmox/ansible/roles/configure/tasks/tasks_generate_vm_template.yml
  proxmox/ansible/roles/configure/vars/main/cloud_init_and_template.yml
Due: ansible-lint, check-ansible-vault

fix(terraform): utiliser pathexpand pour resoudre le chemin SSH key
  dockhost/terraform/main.tf
  kubecluster/terraform/main.tf
Due: none

fix(terraform): gerer l'absence de cle SSH en CI avec fileexists
  dockhost/terraform/main.tf
  kubecluster/terraform/main.tf
Due: none

ci(gitlab): ajouter le pipeline CI Gitlab
  .gitlab-ci.yml
Due: ansible-lint

infra(dockhost,kubecluster,modules): mise a jour configs et roles
  .github/workflows/ci.yml
  dockhost/ansible/deploy.yml
  dockhost/ansible/group_vars/dockhost/all/main.yml
  dockhost/ansible/group_vars/dockhost/vault/config.yml
  dockhost/ansible/group_vars/dockhost/vault/proxmox.yml
  dockhost/ansible/inventory.yml
  dockhost/ansible/roles/github_runner/defaults/main.yml
  dockhost/ansible/roles/github_runner/handlers/main.yml
  dockhost/ansible/roles/github_runner/tasks/main.yml
  dockhost/ansible/roles/github_runner/templates/docker-compose.yml.j2
  dockhost/ansible/roles/gitlab_runner/defaults/main.yml
  dockhost/ansible/roles/gitlab_runner/handlers/main.yml
  dockhost/ansible/roles/gitlab_runner/tasks/main.yml
  dockhost/ansible/roles/gitlab_runner/templates/config.toml.j2
  dockhost/ansible/roles/gitlab_runner/templates/docker-compose.yml.j2
  dockhost/ansible/roles/portainer_agent/templates/docker-compose.yml.j2
  dockhost/ansible/roles/postgresql/defaults/main.yml
  dockhost/ansible/roles/postgresql/handlers/main.yml
  dockhost/ansible/roles/postgresql/tasks/main.yml
  dockhost/ansible/roles/postgresql/templates/docker-compose.yml.j2
  dockhost/ansible/roles/postgresql/templates/pg_hba.conf.j2
  dockhost/ansible/roles/postgresql/templates/postgresql.conf.j2
  dockhost/terraform/main.tf
  kubecluster/terraform/main.tf
  modules/proxmox_vm_template/main.tf
  modules/proxmox_vm_template/variables.tf
  proxmox/SHA256SUMS
  scripts/ansible-vault-pass.sh
Due: ansible-lint, check-ansible-vault

infra(bastion): ajouter le sous-projet bastion et runner GitHub Actions
  .github/workflows/sync-bastion.yml
  bastion/ansible.cfg
  bastion/ansible/deploy.yml
  bastion/ansible/group_vars/bastion/all/main.yml
  bastion/ansible/group_vars/bastion/vault/config.yml
  bastion/ansible/inventory.yml
  bastion/ansible/roles/github_runner/defaults/main.yml
  bastion/ansible/roles/github_runner/handlers/main.yml
  bastion/ansible/roles/github_runner/tasks/main.yml
  bastion/ansible/roles/motd/defaults/main.yml
  bastion/ansible/roles/motd/tasks/main.yml
  bastion/ansible/roles/motd/templates/motd.j2
  bastion/ansible/roles/security_hardening/handlers/main.yml
  bastion/ansible/roles/security_hardening/tasks/main.yml
  bastion/ansible/roles/security_hardening/tasks/ssh.yml
  bastion/ansible/roles/security_hardening/tasks/ufw.yml
  bastion/ansible/roles/ssh_keys/tasks/main.yml
  bastion/ansible/roles/ssh_keys/templates/ssh_config.j2
  bastion/ansible/roles/tooling/tasks/main.yml
  bastion/ansible/roles/tooling/templates/envrc.j2
  bastion/terraform/main.tf
  bastion/terraform/outputs.tf
  bastion/terraform/providers.tf
  bastion/terraform/variables.tf
  docs/01-architecture.md
  docs/02-services.md
  docs/03-commandes.md
  docs/04-troubleshooting.md
  docs/05-dockhost-structure.md
  docs/README.md
  docs/adr/bastion.md
  docs/mode-op-bastion-remote-execution.md
  docs/references/adr-001-gpg-bastion-no-passphrase.md
  docs/references/ip-addresses.md
Due: ansible-lint, check-ansible-vault

infra(gitlab): migrer vers GitLab CI et ajouter gitlab-terraform
  .gitlab-ci.yml
  gitlab-terraform/main.tf
  gitlab-terraform/outputs.tf
  gitlab-terraform/providers.tf
  gitlab-terraform/variables.tf
Due: ansible-lint

fix(ci): ajouter cle SSH factice pour terraform validate en CI
  .gitlab-ci.yml
Due: ansible-lint

infra(bastion): migrer runner GitHub vers GitLab Runner
  bastion/ansible/deploy.yml
  bastion/ansible/group_vars/bastion/vault/config.yml
  bastion/ansible/roles/github_runner/defaults/main.yml
  bastion/ansible/roles/github_runner/handlers/main.yml
  bastion/ansible/roles/github_runner/tasks/main.yml
  bastion/ansible/roles/gitlab_runner/defaults/main.yml
  bastion/ansible/roles/gitlab_runner/handlers/main.yml
  bastion/ansible/roles/gitlab_runner/tasks/main.yml
  bastion/ansible/roles/gitlab_runner/templates/gitlab-runner.service.j2
Due: ansible-lint, check-ansible-vault

infra(bastion): migrer le workflow sync-bastion vers GitLab CI
  .gitlab-ci.yml
  bastion/ansible/roles/ssh_keys/templates/ssh_config.j2
Due: ansible-lint

infra(github): supprimer les runners GitHub et workflows Actions
  .github/workflows/ci.yml
  .github/workflows/sync-bastion.yml
  dockhost/ansible/deploy.yml
  dockhost/ansible/roles/github_runner/defaults/main.yml
  dockhost/ansible/roles/github_runner/handlers/main.yml
  dockhost/ansible/roles/github_runner/tasks/main.yml
  dockhost/ansible/roles/github_runner/templates/docker-compose.yml.j2
Due: ansible-lint

ci(gitlab): securiser le pipeline CI
  .gitlab-ci.yml
Due: ansible-lint

docs(readme): mettre a jour le README avec diagramme architecture
  README.md
  docs/architecture.jpg
  docs/architecture.svg
Due: none

fix(bastion): supprimer .bash_logout pour corriger le shell executor du runner
  bastion/ansible/roles/gitlab_runner/tasks/main.yml
Due: ansible-lint

infra(gitlab): ajouter le push mirror GitLab vers GitHub
  gitlab-terraform/main.tf
  gitlab-terraform/outputs.tf
  gitlab-terraform/variables.tf
Due: none

docs: aligner la documentation sur l'etat actuel du projet
  docs/01-architecture.md
  docs/02-services.md
  docs/03-commandes.md
  docs/04-troubleshooting.md
  docs/05-dockhost-structure.md
  docs/README.md
  docs/adr/bastion.md
  docs/references/ip-addresses.md
Due: none

infra(github): simplifier la protection de branche pour le miroir GitLab
  github-terraform/main.tf
Due: none

fix(proxmox): corriger le bootstrap Ansible et le hardening SSH
  .gitignore
  proxmox/README.md
  proxmox/SHA256SUMS
  proxmox/ansible.cfg
  proxmox/ansible/host_vars/pve/vault/main.yml
  proxmox/ansible/inventory.yml
  proxmox/ansible/requirements.yml
  proxmox/ansible/roles/configure/tasks/generate_vm_template.yml
  proxmox/ansible/roles/configure/tasks/main.yml
  proxmox/ansible/roles/configure/vars/main/cloud_init_and_template.yml
  proxmox/ansible/roles/configure/vars/main/essentials.yml
Due: ansible-lint, check-ansible-vault

docs(proxmox): documenter l'acces post-bootstrap et les tokens API
  proxmox/README.md
Due: none

refactor(proxmox): stocker les tokens API dans pass au lieu du serveur
  proxmox/README.md
  proxmox/ansible/roles/configure/files/setup_roles_users_tokens.sh
  proxmox/ansible/roles/configure/tasks/setup_roles_users_tokens.yml
Due: ansible-lint

docs: traduire la documentation en anglais et ajouter l'ADR proxmox
  docs/01-architecture.md
  docs/02-services.md
  docs/03-commandes.md
  docs/04-troubleshooting.md
  docs/README.md
  docs/adr/proxmox.md
  docs/references/ip-addresses.md
Due: none

fix(bastion): corriger le deploiement bastion et ajouter le guide getting started
  bastion/ansible/group_vars/bastion/all/main.yml
  bastion/ansible/group_vars/bastion/vault/config.yml
  bastion/ansible/roles/ssh_keys/tasks/main.yml
  bastion/ansible/roles/tooling/tasks/main.yml
  bastion/ansible/roles/tooling/templates/envrc.j2
  dockhost/ansible/group_vars/dockhost/vault/config.yml
  dockhost/terraform/variables.tf
  docs/00-getting-started.md
  docs/README.md
  modules/proxmox_vm_template/variables.tf
Due: ansible-lint, check-ansible-vault

fix(dockhost): aligner l'inventaire et SSH config sur le nouvel adressage .90
  bastion/ansible/roles/ssh_keys/templates/ssh_config.j2
  dockhost/ansible/deploy.yml
  dockhost/ansible/inventory.yml
Due: ansible-lint

fix(ansible): ajouter private_key_file et IdentitiesOnly dans les ansible.cfg
  bastion/ansible.cfg
  dockhost/ansible.cfg
  kubecluster/ansible.cfg
Due: none

feat(ci): remplacer Dependabot GitHub par Renovate sur GitLab
  .github/dependabot.yml
  .gitlab-ci.yml
  renovate.json
Due: ansible-lint

fix(ci): permettre le declenchement manuel de Renovate
  .gitlab-ci.yml
Due: ansible-lint

infra(gitlab): limiter le miroir GitHub aux branches protegees
  gitlab-terraform/main.tf
Due: none

docs(readme): ajouter le bandeau miroir GitHub et corriger l'adressage dockhost
  README.md
Due: none

docs(readme): remplacer l'image architecture par un schema ASCII
  README.md
  docs/architecture.jpg
  docs/architecture.svg
Due: none

docs(readme): ajouter les fleches de connexion au schema architecture
  README.md
Due: none

docs(readme): separer le schema architecture par blocs
  README.md
Due: none

docs(readme): retirer le NAS du schema architecture
  README.md
Due: none

docs: aligner la documentation sur l'etat actuel du projet
  docs/00-getting-started.md
  docs/01-architecture.md
  docs/02-services.md
  docs/03-commandes.md
  docs/04-troubleshooting.md
  docs/05-dockhost-structure.md
  docs/mode-op-bastion-remote-execution.md
  docs/references/ip-addresses.md
Due: none

docs(readme): retirer .claude/ de l'arborescence projet
  README.md
Due: none

docs(readme): retirer .github/ de l'arborescence projet
  README.md
Due: none

chore: supprimer .github/ (GitHub est un miroir read-only)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
Due: ansible-lint
